<div class="character">
    <p> {{name}} </p>
    {{#if file}}
    <img src="{{URL}}public/characters/{{file}}.png" alt="{{name}}" />
    {{else}}
    <img src="{{URL}}public/missing.jpg" alt="{{name}} (No image found)" />
    {{/if}}
</div>

